@font-face {
    font-family: "Poppins";
    src: url(/Components/fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: "PoppinsBold";
    src: url(/Components/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Jost";
    src: url(/Components/fonts/Jost/Jost-Black.ttf);
}

@font-face {
    font-family: "JostBold";
    src: url(/Components/fonts/Jost/Jost-Bold.ttf);
}

body {
    font-family: "Poppins"
}

/* Header */

.right {
    font-family: "Poppins";
    display: inline-block;
    color: #686565;
    text-align: right;
    font-size: 30px;
    margin-left: 20px;
    text-decoration: none;
    padding-left: 570px;
}

a {
    margin: -190px;
  }

.logo {
    font-family: "PoppinsBold";
    display: inline-block;
    font-size: 48px;
    padding-left: 78px;
    color: #0E0578;
}

/* First section */

.img1 {
    position: relative;
    top: -300px;
    left: -200px;
    width: 564px;
    height: 564px;
    border-bottom-left-radius: 191px;
}
  
.firstBlockText {
    font-size: 30px;
    color: #2000E7;
    line-height: 45px;
    padding-left:78px;
}
  
.greetings {
    font-family: "PoppinsBold";
    font-size: 48px;
    line-height: 72px;
    padding-left: 78px;
    color: #2000E7;
}

.designer {
    font-family: "PoppinsBold";
    font-size: 48px;
    line-height: 72px;
    color: #F2BD00;
  }
  
.lorem1 {
    font-size: 24px;
    padding-left: 78px;  
    color: #383838;
    line-height: 36px;
}
  
.button1 {
    border-radius: 10px;
    border: none;
    background: #2000E7;
    padding: 72px 246px;
    margin-left: 78px;
    font-size: 24px;
    box-shadow: 11px 21px 15px 6px rgba(0, 0, 25, .2);
    color: #ffffff;   
}
  
.button2 {
    border-radius: 10px;
    border: solid;
    border-color: #2000E7;
    padding: 72px 246px;
    margin-left: 78px;
    font-size: 24px;
    color: #2000E7;
    box-shadow: 11px 21px 15px 6px rgba(0, 0, 25, .2);
}




/* Footer */

footer {
    font-family: "Jost";
}
